.nav {
    max-width: calc(var(--main-width) + var(--gap) * 2);
}

.chroma {
    background-color: unset !important;
}

.post-entry:hover, .post-tags a:hover, .paginav a:hover, .terms-tags a:hover {
    border-color: #999;
    background: rgb(31, 31, 31);
}

.post-content .highlight pre, .terms-tags a {
    border-radius: 8px;
    border: 1px solid #525252;
}

.footer a, .post-content a, #menu .active {
    color: #fcd37a;
    border: none;
    box-shadow: none;
}

.footer a:hover, .post-content a:hover {
    color: #ffeea6;
    border-bottom: 1px solid #ffeea6;
}
