{{- define "main" }}

    <header class="page-header"><h1>{{ .Title }}</h1></header>

    {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}

    {{- if site.Params.ShowAllPagesInArchive }}
        {{- $pages = site.RegularPages }}
    {{- end }}

    <div class="archives">
    {{- range $pages.GroupByPublishDate "2006" }}
        {{- if ne .Key "0001" }}
            <div class="archive-year">
                {{- $year := replace .Key "0001" "" }}
                <h2 class="archive-year-header" id="{{ $year }}">
                    {{- $year -}}
                    <sup class="archive-count">&nbsp;{{ len .Pages }}</sup>
                </h2>
                {{- range .Pages.GroupByDate "January" }}
                    <div class="archive-month">
                        <div class="archive-posts">
                            {{- range $index, $page := .Pages }}
                                {{ partial "post.html" $page }}
                            {{- end }}
                        </div>
                    </div>
                {{- end }}
            </div>
        {{- end }}
    {{- end }}
    </div>

{{- end }}{{/* end main */}}
