{{ define "main" }}

    {{- with site.Params.strings }}
        {{ partial "info.html" .multimedia}}
    {{- end -}}

    {{ range .Site.Data.images }}
    <ul class="multimedia-gallery">
        {{ range sort .images "exifDateTime" "desc" }}
            <li>
                <a href="/upload/{{ .filename }}"
                   data-pswp-width="1875"
                   data-pswp-height="2500"
                   data-cropped="true"
                   target="_blank">
                    <img src="/upload/{{ .filename }}" alt="" loading="lazy" />
                </a>
            </li>
        {{ end }}
    </ul>
    {{ end }}

{{ end }}