<p class="codepen" data-height="500" data-theme-id="dark" data-default-tab="result"
   data-slug-hash="{{ index .Params 0 }}"
   data-user="xrazis"
   style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the <a href="https://codepen.io/xrazis/pen/{{ index .Params 0 }}">
  Pen</a> by Haris Razis (<a href="https://codepen.io/xrazis">@xrazis</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>

<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>