{{ $imageSrc := printf "%s%s" site.Params.cdnUrl (.Get "src") }}

<figure class="align-center">
    <a href="{{ $imageSrc }}" target="_blank">
        <img loading="lazy" src="{{ $imageSrc }}"
             {{- if or (.Get "alt") (.Get "caption") }}
        alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify | plainify }}{{ end }}"
        {{- end -}}
        {{- with .Get "width" }} width="{{ . }}"{{ end -}}
        {{- with .Get "height" }} height="{{ . }}"{{ end -}}
        />
    </a>
    {{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption>
        {{ with (.Get "title") -}}
        {{ . }}
        {{- end -}}
        {{- if or (.Get "caption") (.Get "attr") -}}<p>
        {{- .Get "caption" | markdownify -}}
        {{- with .Get "attrlink" }}
        <a href="{{ . }}">
            {{- end -}}
            {{- .Get "attr" | markdownify -}}
            {{- if .Get "attrlink" }}</a>{{ end }}</p>
        {{- end }}
    </figcaption>
    {{- end }}
</figure>
